@use "../media-queries/post-board";
@import "../mixins";
@import "../includes/pretendard";
@import "../includes/leeseoyun";
@import "../mixins/chalk-border";
@import "../colors";

/* 3*2 와 4*2 갤러리 테이블 */
/* 세로형 Cell 이미지 비율은 1:0.572 */
.post-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    --representing-color: 60, 60, 60;

    &:first-child h2 {
        margin-top: 0px;
    }

    h2 {
        width: 100%;
        padding: 0px;
        padding: 16px 0px;
        user-select: none;
        
        font-family: LeeSeoyun;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.01em;
        text-align: left;
        
        color: white;
    }

    .post-table {

        width: 100%;
        &.portfrait {
            display: flex;
            flex-direction: row;
            gap: 16px;
            margin-bottom: 16px;

            overflow-x: scroll;
            @include hide-scrollbar;

            .table-cell .cell-info {
                .title {
                    font-size: 24px;
                }

                .popularity {
                    font-size: 12px;
                }
            }
        }

        &.landscape {
            margin-bottom: 16px;

            .cell-info {
                background: none;

                .title {
                    display: none;
                }
            }
        }

        .no-cell-popularity-info {
            .cell-info .popularity, .cell-info .like-button {
                display: none !important;
            }
        }

        .chalk-bordered {
            @include chalk-border(6px);
            border-radius: 14px;

            @include mobile {
                @include chalk-border(3px);
            }
        }


        .wrapper {
            position: relative;
            padding-bottom: 3px;

            .shadow {
                @include chalk-border(2px);
                position: absolute;
                left: 2px;
                top: 2px;
                width: 100%;
                height: calc(100% - 5px);
                z-index: -1;
                border-radius: 14px;

                display: none;
            }

            &.landscape {
                padding-bottom: 0px;
                .shadow {
                    @include chalk-background();
                    top: 25px;
                    left: 10px;
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                    opacity: 30%;
                }
            }
        }

        .table-cell {
            display: block;
            padding: 2px 2px 2px 2px;
            position: relative;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            /*width, height은 미디어 쿼리에서 지정*/
            box-sizing: border-box;
            flex-shrink: 0;
            user-select: none;
            background-repeat: repeat;
            background-size: cover;
            background-position: 50% 50%;
            border-radius: 8px;
            position: relative;

            &.portrait {
                width: var(--portrait-table-cell-width) !important;
                aspect-ratio: 464 / 714;

                &.non-nerd-test {
                    background-size: contain;
                }

                .cell-info .popularity-and-like-button {
                    padding: 7px;
                }
            }

            &.landscape {
                width: 100%;
                aspect-ratio: 1 / 1;

                .cell-info .popularity-and-like-button .like-button img {
                    width: 26px;
                    height: 24px;
                }
            }
        }

        .cell-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            /* background: linear-gradient(180deg, 
                rgba(var(--representing-color), 0) 50%,
                rgba(var(--representing-color), 0.9) 77.15%,
                rgb(var(--representing-color)) 94.26%);
            */
            
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            gap: 10px;

            .title {
                display: none;
            }

            .popularity-and-like-button {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                box-sizing: border-box;
                padding: 14px;
                flex-wrap: nowrap;

                .like-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                    
                    
                    &.liked img {
                        transform: scale(118%);
                    }

                    img {
                        width: 24px;
                        height: 22px;
                        transition: transform 0.2s cubic-bezier(0.33, 1, 0.68, 1);
                    }
                }
            }

            .popularity {
                display: flex;
                gap: 8px;
                color: $black-color-03;
                
                flex-direction: row;
                align-items: center;

                font-family: 'Pretendard', sans-serif;
                font-size: 14px;
                font-weight: normal;
                line-height: 16px;
                letter-spacing: 0.025em;

                .views {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 4px;
                    
                    .icon {
                        width: 14px;
                    }
                }
            }
        }
    }
}