@use "../media-queries/post-board";
@import "../mixins";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "../includes/leeseoyun";
@import "../mixins/chalk-border";

/* 3*2 와 4*2 갤러리 테이블 */
/* 세로형 Cell 이미지 비율은 1:0.572 */
.post-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 14px 0px;
    --representing-color: 60, 60, 60;

    &:first-child h2 {
        margin-top: 0px;
    }

    h2 {
        width: 100%;
        padding: 0px;
        margin: 0px 0px 14px 0px;
        user-select: none;
        
        font-family: LeeSeoyun;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.01em;
        text-align: left;
        
        color: white;
    }

    .post-table {
        width: 100%;

        &.portfrait {
            display: flex;
            flex-direction: row;
            gap: 4px;
            overflow-x: scroll;
            @include hide-scrollbar;

            .table-cell .cell-info {
                padding-bottom: 14px;

                .title {
                    font-size: 24px;
                }

                .popularity {
                    font-size: 12px;
                }
            }
        }

        &.landscape {
            margin-bottom: 4px;

            .cell-info {
                background: none;

                .title {
                    display: none;
                }
            }
        }

        .no-cell-popularity-info {
            .cell-info .popularity {
                display: none !important;
            }
        }

        .chalk-bordered {
            @include chalk-border(2px);
            border-radius: 14px;
        }

        .table-cell {
            display: block;
            padding: 2px 2px 2px 2px;
            position: relative;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            /*width, height은 미디어 쿼리에서 지정*/
            box-sizing: border-box;
            flex-shrink: 0;
            user-select: none;
            background-repeat: repeat;
            background-size: cover;
            background-position: 50% 50%;
            border-radius: 14px;

            &.landscape {
                width: 100%;
            }
        }

        .cell-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            background: linear-gradient(180deg, 
                rgba(var(--representing-color), 0) 50%,
                rgba(var(--representing-color), 0.9) 77.15%,
                rgb(var(--representing-color)) 94.26%);

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding-bottom: 30px;
            gap: 10px;

            .title {
                font-family: 'Pretendard';
                font-style: normal;
                font-weight: 800;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                letter-spacing: -0.01em;
                word-break: keep-all;
                
                color: #FFFFFF;
                box-sizing: border-box;

                width: min(155px, 80%);
            }

            .popularity {
                display: flex;
                gap: 20px;
                background: #00000063;
                color: white;
                padding: 5px 10px;
                border-radius: 6px;
                font-size: 12px;

                .likes-link {
                    text-decoration: none;
                    color: unset;
                }

                .likes::before {
                    content: "❤";
                    color: #979797;
                    margin-right: 0.15em;
                }

                .likes.liked::before {
                    content: "❤";
                    color: #e04343;
                    margin-right: 0.15em;
                }

                .views::before {
                    content: "👁️";
                    margin-right: 0.15em;
                }
            }
        }
    }
}