@import "../mixins";

.post-board-columns {
    --columns-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: var(--columns-height);

    scroll-snap-type: x mandatory;
    overflow-x: hidden;

    /* 스크롤바를 숨긴다 */
    @include hide-scrollbar;
    & > .column {
        position: absolute;
        left: 50%;
        top: 0px;
        width: 100%;
        min-width: 100%;
        height: var(--columns-height);
        max-height: var(--columns-height);
        box-sizing: border-box;
        overflow-y: hidden;

        @include hide-scrollbar;

        .scroll-content {
            padding-top: 145px;   
        }

        footer {
            margin-top: 90px;
            padding: 28px 16px;
            text-align: center;
            color: #898B8A;

            border-top: 1px solid #DFDFDF;
            background: #FAFAFA;

            font-family: Pretendard;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: -0.01em;
            text-align: align;  
            .icons {  
                margin-top: 0.5em;
                svg {
                    color: #898B8A;
                }
            }
        }
    }
}
