@import "../mixins";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.ranking-section {
    img.podium {
        width: 100%;
        max-width: min(400px, 75vw);
    }
    h2 {
        width: 100%;
        margin: 40px 0px;
        padding: 0px;
        user-select: none;

        font-family: Pretendard;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: -0.01em;
        text-align: left;
    }
    .more {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        max-width: 100%;
        user-select: none;
        @include hide-scrollbar;

        padding: 20px 0px;
        
        .more-column {
            border-right: 1px solid #f0f0f0;
            padding: 0px 20px 0px 14px;
            &:last-child {
                border-right: 0px;
            }
            &:first-child {
                padding-left: 0px;
            }
            ol {
                display: flex;
                flex-direction: column;
                gap: 14px;

                padding: 0px;
                margin: 0px 10px;
                list-style-type: none;
                
                font-family: Pretendard;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: -0.01em;
                color: #14171A;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 8px;

                    white-space: pre;
                    
                    .marker {
                        display: inline-block;
                        width: 22px;
                        height: 22px;

                        font-weight: 600;
                        
                        background-color: #f0f0f0;
                        color: #666867;
                        border-radius: 40px;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .hashtag {
                        color: gray;
                        font-size: 0.75em;
                    }
                }
            }
        }
    }
}
