.top-fixed-bar {
    position: fixed;
    display: block;
    top: -25px;
    left: 50%;
    transform: translate(-50%);

    z-index: 99;

    /*투명해지기 전 컬러*/
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 63%,
        rgba(255, 255, 255, 0) 100%
    );
    color: rgba(255, 255, 255, 1);

    transition: transform 0.3s ease, background-color 0.3s ease-in-out,
        color 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &.is-hidden {
        color: rgba(255, 255, 255, 0);
    }

    .main-top-logo {
        position: relative;
        display: block;
        left: 50%;
        top: 50px;
        width: 90px;
        opacity: 1;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0);
        transition: opacity 0.1s ease-in-out;

        &.is-hidden {
            opacity: 0;
        }
    }
}
