@use "../media-queries/top-category-buttons";
@import "../colors";
@import "../mixins/handdrawn-btn";

/* 상단 로고 애니메이션시 버튼 네브도 애니메이션 */
.top-fixed-bar.is-hidden ~ nav {
    top: 10px !important;
    transform: translateX(-50%);
}

/* 네비게이션바 부분의 배경 투과 */
.top-fixed-bar {
    & ~ .main-container .column {
        transition: clip-path 0.3s ease;           
        clip-path: inset(
            calc(var(--top-fixed-bar-height) / 1.95) 0px 0px 0px);
    }
    &.is-hidden ~ .main-container article {
        clip-path: inset(0px 0px 0px 0px);
    }
}

/* top-category-buttons 버튼 스타일링 */
nav.top-category-buttons {
    /* 사이즈 */
    --button-gap: 6px;
    --button-width: 200px;

    /* flexbox랑*/
    display: flex;
    gap: var(--button-gap);
    margin: 0px 0px 50px 0px;

    /* 너비 */
    width: 100%;
    overflow: hidden;

    /* 포지셔닝 */
    position: fixed;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    /* 애니메이션 */
    transition: top 0.3s ease;

    & > button {
        @include handdrawn-btn();

        padding: 12px 16px;
        white-space: nowrap;
        word-break: keep-all;
        cursor: pointer;
        scroll-snap-align: center;
        text-align: center;
        width: var(--button-width);
        min-width: var(--button-width);
        touch-action: manipulation;

        &.active {
            @include handdrawn-btn("white");
            color: $secondary-color-01;
        }
    }
}
