@use "media-queries/floating-button";
@import "colors";
@import "./includes/leeseoyun";

.floating-btn {
    cursor: pointer;
    position: fixed;
    z-index: 99;
    bottom: 26px;
    right: 10px;
    width: 60px;
    height: 60px;
    // margin: 0px calc((100vw - var(--floating-btn-width)) / 2);

    svg {
        width: 24px;
        height: 24px;
    }

    &.notice {
        // bottom: 96px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        
        width: 60px;
        padding: 0px 18px;

        .icon img {
            position: relative;
            top: 2px;
            width: 24px;
            height: auto;
        }
        .content {
            display: none;
            font-family: 'LeeSeoyun', cursive;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
        }
        &.active {
            width: 94%;
            max-width: 700px;
            min-width: 350px;
            overflow-y: hidden;            
            .content {
                display: block;
                float:left;
                width: 85%;
            }
        }
    }
    
    border-radius: 40px;
    border: 0px;
    background-color: white;
    color: $secondary-color-01;

    box-shadow: 1px 4px 6px 0px #00000026;
}

.floating-btn-scrollX {
    background-color: #fff;
    border-radius: 40px;
    border: 0px;
    bottom: calc(50% - 50px);
    box-shadow: 1px 4px 6px 0px rgba(0,0,0,.15);
    color: #0a4129;
    cursor: pointer;
    height: 50px;
    position: absolute;
    width: 50px;
    z-index: 99;

    &.left {
        left: 25px;
    }

    &.left::after {
        content: "◀";
    }

    &.right {
        right: 25px;
    }

    &.right::after {
        content: "▶";
    }
}
