@use "media-queries/floating-button";
@import "colors";

.floating-btn {
    cursor: pointer;
    position: fixed;
    z-index: 99;
    bottom: 26px;
    right: 10px;
    width: 60px;
    height: 60px;
    margin: 0px calc((100vw - var(--floating-btn-width)) / 2);
    svg {
        width: 20px;
        height: auto;
    }
    border-radius: 40px;
    border: 0px;
    background-color: white;
    color: $secondary-color-01;

    box-shadow: 1px 4px 6px 0px #00000026;
}
