@use "common/reset";
@use "common/container";
@use "common/top-logo-nav";
@use "common/utils";
@use "media-queries/quiz";
@import "common/styled-inputs";

.main-container {
    padding-top: 90px;
    padding-bottom: 20px;
}

article {
    width: 80%;
}

button {
    cursor: pointer;
}

@import "quiz/result";
@import "quiz/solve";
@import "quiz/entry";
@import "quiz/correctness-animation";
