@import "../mixins";

.help-me .problem-box {
    width: 400px;
    @include mobile {
        width: min(300px, 60vw);
    }
    @include tablet {
        width: 300px;
    }
}
.question .figure {
    height: 300px;
    @include mobile {
        height: min(150px, 80vh);
    }
}
