@use "../common/styled-inputs";
@import "../mixins";

article.quiz-entry {
    margin: 0 auto;
    width: fit-content;

    .refresh-nickname {
        text-decoration: none;
    }

    .introduction {
        h1 {
            font-size: 24px;
            text-align: center;
            padding-bottom: 1em;
        }
        h2 {
            font-size: 20px;
        }
    }
    .statistics-header {
        h2 {
            font-size: 18px;
        }
        p {
            font-size: 0.8em;
        }
    }

    @include styled-inputs;
    form.entry {
        margin: 40px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        & > label {
            display: block;
        }
    }

    form.statistics {
        margin: 40px 0px;
        gap: 10px;
        display: grid;
        justify-content: center;
        grid-template-columns: max-content 350px;
        @include mobile {
            grid-template-columns: max-content 220px;
        }
        align-items: center;
        .gender-radios label {
            display: inline-block;
        }
        .specified-gender {
            width: 120px;
        }
        .age {
            width: 10em;
        }
    }

    .start-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
