@use "../common/styled-inputs";
@import "../mixins";
@import "../includes/noto-serif";
@import "../colors";

.main-continaer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article.quiz-entry {
    width: fit-content;
    background: url("../assets/paper.png");
    padding: 38px 30px;

    .refresh-nickname {
        text-decoration: none;
    }

    @include styled-inputs;
    
    .entry-section {
        text-align: center;
        margin-bottom: 20px;

        .entry-form-with-warning {
            display: inline-block;
            width: fit-content;
            text-align: left;
        }

        .warning {
            font-family: Pretendard;
            font-size: 12px;
            font-weight: normal;
            line-height: 20px;
            letter-spacing: -0.02em;
            
            color: #E80000;
            &.shaking {
                animation: 0.1s ease-out 0s shake;
                animation-iteration-count: 3;
            }
        }

        .introduction {
            h1 {
                display: none;
            }
            h2 {
                font-family: "Noto Serif KR";
                font-weight: 600;
                font-size: 32px;
                line-height: 42px;
                letter-spacing: -0.025em;
                color: $black-color-01;
            }
            p {
                font-family: Pretendard;
                font-size: 14px;
                font-weight: normal;
                letter-spacing: -0.025em;
                text-align: center;
                
                color: #666867;
            }
        }

        form.entry {
            margin: 30px 0px 0px 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: nowrap;
            gap: 0px;
            label {
                border-radius: 4px 0px 0px 4px;
                border: 1px solid $black-color-01;
                border-right-width: 0px;

                font-family: "Pretendard", sans-serif;
                font-size: 16px;
                line-height: 140%;
                font-weight: 600;
                color: $black-color-01;

                padding: 13px 12px;

                word-break: keep-all;
            }
            input {
                width: 170px;
                max-width: 40vw;

                border: 1px solid $black-color-01;
                border-right: none;
                padding: 9px 16px;
                border-radius: 0px;
                background-color: transparent;

                font-family: Pretendard;
                font-size: 16px;
                font-weight: 600;
                line-height: 140%;
                letter-spacing: 0em;
                text-align: left;
                color: $black-color-01;

                &::placeholder {
                   color: #B4B9B8;
                }
            }
            .refresh-nickname {
                display: flex;
                flex-direction: row;
                align-items: center;

                padding: 9px 16px;
                border: 1px solid $black-color-01;
                border-left: 0px;
                border-radius: 0px 4px 4px 0px;
            
                svg {
                    color: #666867;
                    display: inline;
                    vertical-align: bottom;
                }
            }
        }
    }

    .statistics-section {
        text-align: center;
        border: 1px solid $black-color-01;
        border-radius: 4px;

        h2 {
            font-family: Pretendard;
            font-size: 16px;
            font-weight: normal;
            line-height: 28px;
            letter-spacing: -0.02em;
            text-align: center;
            color: $black-color-01;

            margin-bottom: 5px;
            padding: 10px 0px;

            border-bottom: 1px solid $black-color-01;
        }
    
        form.statistics {
            padding: 16px 14px;
            
            text-align: left;
            color: $black-color-01;

            font-family: 'Pretendard', sans-serif;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: -0.02em;
            line-height: 20px;

            ul {
                padding-left: 20px;
                list-style-image: url(../assets/entry-form-ul-ballet.svg);
                
                li + li {
                    margin-top: 10px;
                }

                label {
                    display: block;
                }
                
                select {
                    display: block;
                    
                    width: 220px;
                    border-radius: 4px;
                    border: 1px solid #DFDFDF;
                    background: white;
                    
                    padding: 9px 16px;
                    margin-top: 10px;
                }
            }
        } 
    }
    
    .start-button {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 26px;

        button {
            border-radius: 4px;
            background: #AB7100;
    
            color: white;
            padding: 12px;
            width: 100%;
            
            font-family: Pretendard;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: -0.025em;
            text-align: center;
            
            &.disabled {
                background-color: #ababab;
            }
        }
    }
    @keyframes shake {
        from {
          transform: rotate(0deg);
        }

        25% {
          transform: rotate(5deg);
        }

        50% {
          transform: rotate(0deg);
        }

        75% {
          transform: rotate(-5deg);
        }

        to {
          transform: rotate(100%);
        }
    }
}
