.help-me {
    font-family: Pretendard;
    display: none;
    &.active {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    h1 {
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: -0.01em;
        text-align: center;

        color: #14171A;
    }

    .timer-paused {
        font-size: 14px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: -0.01em;
        text-align: center;        

        color: #898B8A;
    }

    .problem-box {
        margin-top: 20px;
        padding: 2em;
        background-repeat: repeat;
        background-image: url(../assets/paper.jpg);
        text-align: center;
        .answer {
            display: flex;
        }
        .answer-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .fill-in {
                width: 10em;
                height: 1em;
                border-bottom: 1px solid black;
            }
            .choices {
                display: grid;
                align-items: baseline;
                grid-template-columns: repeat(2, 1fr);
                gap: 0.5em 3em;
                margin: 0px;
                padding: 0px;
                li {
                    list-style-position: inside;
                    text-align: left;
                }
            }
        }
    }
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;

        width: 100%;
    }
}
