@import "../colors";

.help-me {
    font-family: Pretendard;
    display: none;
    margin-top: 20px;

    &.active {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    h1 {
        font-family: LeeSeoyun;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        

        color: #ffffff;
    }

    .timer-paused {
        font-family: LeeSeoyun;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: center;
     
        color: #ffffff80;
    }

    .problem-paper-box {
        .figure.empty {
            margin: 0px !important;
        }
        .answer-container {
            margin-top: 1em;

            display: flex;
            flex-direction: row;
            justify-content: center;
            .fill-in {
                width: 10em;
                height: 1em;
                border-bottom: 1px solid $black-color-01;
            }
            .choices {
                display: grid;
                align-items: baseline;
                grid-template-columns: repeat(2, 1fr);
                gap: 0.5em 3em;
                margin: 0px;
                padding: 0px;
                li {
                    list-style-position: inside;
                    text-align: left;
                    color: $black-color-01;

                    font-family: 'LeeSeoyun', cursive;
                    font-weight: normal;
                }
            }
        }
    }
    .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;

        width: 100%;

        .continue-button-row {
            display: flex;
            flex-direction: row;
            gap: 10px;
            
            .share-continue.continue {
                background-color: #AB7100;
            }
    
            .copy-link {
                background-image: url(../assets/link-anchor.svg);
                background-position: 50% 50%;
                background-repeat: no-repeat;
    
                background-color: transparent;
                border: 2px white solid;
                width: 50px;
            }
        }
    }
}
