.result {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 12px;
    border: 1px solid black;
    background: url(../assets/paper.jpg);
    background-repeat: repeat;

    & > * {
        border: 1px solid black;
        background-color: #FFFFFF80;
    }

    h1.title {
        font-size: 1.2em;
        font-weight: 600;
        padding: 0.5em 1em;
        .subtitle {
            font-weight: normal;
            font-size: 0.6em;
            color: gray;
        }
        box-shadow: 2px 2px gray;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em 0.5em;
        gap: 1em;
        text-align: center;
        table {
            border-collapse: collapse;
            td {
                border: 1px solid black;
                padding: 0.5em 1em;
            }
        }
        .comment {
            color: gray;
        }
    }
}