@use "../common/styled-inputs";
@import "../index_page/post-board";
@import "../mixins/cork-board-background";

body.result-body {
    @include cork-board-background;
    background-repeat: repeat;
    background-size: 1200px;
}

.main-container {
    .loading {
        display: none;
        height: calc(100vh - 150px);
        width: 80%;
        padding-top: 150px;
        max-width: 500px;
        margin-top: 80px;
        background: url("../assets/loading.png");
        background-position-x: 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &.loading {
        * {
            display: none;
        }
        .loading {
            display: block;
        }
    }
}

article.with-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @import "./result_box";

    .result-container {
        margin-bottom: 32px;
    }

    .post-section > h2 {
        margin: 0.25em 0em 1em 0em !important;
    }

    .share-web-share, .share-twitter, .share-kakao, .share-continue.retry, .continue-button-row {
        width: 100%;
        box-sizing: border-box;
    }

    .continue-button-row {
        display: flex;
        flex-direction: row;
        gap: 10px;
        
        .share-continue.retry {
            background-color: $secondary-color-01;
        }

        .copy-link {
            background-image: url(../assets/link-anchor.svg);
            background-position: 50% 50%;
            background-repeat: no-repeat;

            background-color: transparent;
            border: 2px white solid;
            width: 50px;
        }
    }


    @import "../index_page/post-board";
}
