@use "../common/styled-inputs";
@import "../index_page/post-board";
@import "../mixins/cork-board-background";

body.result-body {
    @include cork-board-background;
}

.main-container {
    .loading {
        display: none;
        height: calc(100vh - 150px);
        width: 100%;
        background: url("../assets/loading.gif");
        background-position-x: 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &.loading {
        * {
            display: none;
        }
        .loading {
            display: block;
        }
    }
}

article.with-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @import "./result_box";

    .post-section > h2 {
        margin: 0.25em 0em 1em 0em !important;
    }

    .share-web-share, .share-twitter, .share-kakao, .share-continue {
        width: 100%;
        box-sizing: border-box;
    }

    @import "../index_page/post-board";
}
