@import "help-me";
@import "../includes/pretendard";
@import "../mixins/chalk-border";
@import "../mixins/masked-chalk-border";
@import "../mixins/handdrawn-btn";
@import "../colors";
@import "../includes/noto-serif";
@import "../includes/thick-chalkboard";
@import "../mixins/chalk-background";
@font-face { 
    font-family: 'Yeongdeok Blueroad';  
    font-style: normal;
    src:url("https://static.goinmultest.pro/yb.ttf") format('opentype');
    unicode-range: U+D225, U+CFC8;
}   

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html, body {
    overscroll-behavior: none;

    @include chalkboard-background;
}

.question {
    .current-score {
        font-family: LeeSeoyun;
        font-size: 32px;
        font-weight: normal;
        text-align: center;

        color: white;
        padding: 12px 33px;

        width: fit-content;
        margin: 0 auto;
        margin-bottom: 30px;

        @include masked-chalk-border(0px 0px 4px 0px);
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        border-color: transparent;
    }

    .problem-paper-box {
        background: url(../assets/paper.png);
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

        &.html2canvas {
            box-shadow: none;
        }

        .correctness-effect {
            display: none;
        }

        &.with-correctness-effect {
            position: relative;
        
            .correctness-effect {
                display: block;
                position: absolute;
                top: 10px;
                left: 10px;
            }
        }
        
        .combo {
            display: none;
        }

        &.with-combo {
            position: relative;
            
            .combo {
                display: block;

                position: absolute;
                bottom: 17px;
                right: 26px;

                &.active {
                    display: block;
                }
            }
        }
    }

    .category {
        font-family: Pretendard;
        font-weight: 400;
        display: block;
        font-size: 13px;
        text-align: center;
        margin-bottom: 10px;
        color: #4d4d4d;
    }

    .text {
        color: $black-color-01;
        font-family: "Noto Serif KR", serif;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: -0.01em;

        .id-number {
            font-weight: bold;
            font-size: 16px;
            letter-spacing: -0.01em;
            text-align: left;
        }

        .points {
            display: inline;
        }

        .condition {
            font-weight: normal;
            font-size: 14px !important;
            color: $black-color-03;
            font-size: 0.6em;
        }
        margin-bottom: 6px;
    }

    .figure {
        margin: 2.5em 0px;
        text-align: center;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            object-fit: contain;

            border: 1px solid $black-color-01;
            border-radius: 14px;

            &.min-height {
                min-height: 100%;
            }

            &.min-width {
                min-width: 100%;
            }
        }

        .initials {
            font-family: 'Noto Serif KR', serif;
            font-weight: 400;

            color: $black-color-01;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px 0px;
            font-size: 20px;
            .whitespace {
                width: 1em;
            }
            .normal {
                word-break: keep-all;
            }
            .initial-group {
                display: inline-block;

                .initial {
                    color: white;
                    display: inline-block;
                    padding: 8px;
                    background: #c4c4c4;
                    border-radius: 10px;
                    margin: 0px 2.5px;

                    &.whitespace {
                        background-color: #a7a7a7;
                    }

                }
            }
        }
    }
}

.answer {
    width: 100%;
    font-size: 1.15em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: center;
    margin-top: 24px;
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5em;

        margin-bottom: 24px;

        &.warning {
            font-family: Pretendard;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: -0.01em;
            margin: 0 auto 0 0; // align text left
            
            color: #EE4D4D;
        }

        &.with-input {
            margin: 0px;
            .input-wrapper {
                @include masked-chalk-border(0px 0px 3px 0px);
                cursor: text;
            }

            *.with-animation, *.with-animation input {
                transition: transform 50ms ease-out;
                &.animated, &.animated input {
                    transform: scaleX(105%);
                }

                &.mobile-animated, &.mobile-animated input {
                    transform: scaleX(101.5%);
                }
            }

            input[type="input"] {
                background: transparent;
                border: 0px;
                padding: 16px 12px;
                width: 100%;

                box-sizing: border-box;

                font-family: 'LeeSeoyun', 'Yeongdeok Blueroad';
                font-size: 20px;
                font-weight: normal;
                color: white;

                &:hover, &:active, &:focus {
                    outline: none;
                }
            }

            &.radios {
                display: grid;
                align-items: baseline;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                * {
                    text-align: left;
                }
            }
        }

        button[type="submit"] {
            height: 50px;
            width: 130px;
            
            @include handdrawn-btn("primary");
            
            color: #0A4129;
        }

        button.idk {
            height: 50px;
            width: 96px;
            
            @include handdrawn-btn();
            background-image: url(../assets/help-me-btn-bg.svg);
        }
    
    }

    @include styled-inputs;
}
