@import "../media-queries/question-content";

.question {
    .idkRow {
        text-align: right;
        margin-bottom: 10px;
        .idk {
            border: 0px;
            font-family: Pretendard;
            font-weight: 400;
            font-size: 14px;

            padding: 4px 12px;
            border-radius: 4px;

            background: #ffc956;
            color: white;
            cursor: pointer;
        }
    }

    .category {
        font-family: Pretendard;
        font-weight: 400;
        display: block;
        font-size: 13px;
        text-align: center;
        margin-bottom: 10px;
        color: gray;
    }

    .text {
        font-family: Pretendard;
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: -0.01em;
        
        .idNumber {
            font-size: 24px;
            font-weight: 800;
            line-height: 23px;
            letter-spacing: -0.01em;
            text-align: left;
            color: #1DA1F2;

            margin-right: 11px;
        }

        .condition {
            color: gray;
            font-size: 0.6em;
        }
        margin-bottom: 6px;
    }

    .points {
        font-family: Pretendard;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: -0.01em;
        text-align: right;

        color: #666867;
    }

    .figure {
        margin: 2.5em 0px;
        text-align: center;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            object-fit: contain;

            &.minHeight {
                min-height: 100%;
            }

            &.minWidth {
                min-width: 100%;
            }
        }

        .initials {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5px 0px;
            font-size: 1.5em;
            .whitespace {
                width: 1em;
            }
            .initial {
                padding: 10px 10px;
                background: #e1e1e1;
                border-radius: 10px;
                margin: 0px 2.5px;

                &.whitespace {
                    background-color: #a7a7a7;
                }
            }
        }
    }
}