@mixin masked-chalk-border($border-width: 1px, $border-radius: 0px) {
    position: relative;
    
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: $border-radius;
        background: url(../assets/chalk-border.png); 
        // -webkit-mask: 
        // linear-gradient(#fff 0 0) content-box, 
        // linear-gradient(#fff 0 0);
        //         mask:
        // linear-gradient(#fff 0 0) content-box, 
        // linear-gradient(#fff 0 0);
        // -webkit-mask-composite: xor;
        //         mask-composite: exclude; 
        background-position-y: 52px;
        background-repeat: no-repeat;
        padding: $border-width;

        & > * {
            position: relative;
        }
    }
}