@import "../colors";

@mixin styled-inputs {
    button, a.button {
        background-color: #efefef;
        &.active {
            background-color: #c3c3c3;
        }
        &:hover {
            background-color: #d4d4d4;
            &.active {
                background-color: #a3a3a3;
            }
        }
    }

    input,
    select,
    a.button,
    button {
        text-decoration: none;
        font-size: inherit;
        max-width: 100%;
        color: $black-color-01; /* Safari default color is not black */

        padding: 7.5px 15px;
        border: 0px;
        border-radius: 10px;

        &.small-padding {
            padding: 4px 0.45em;
            border-radius: 0.3em;
        }

        &[type="text"],
        &[type="input"],
        &[type="email"] {
            border: 1px solid #dddddd;
            &.with-animation {
                transition: transform 50ms ease-out;
                &.animated {
                    transform: scaleX(105%);
                }
            }
        }
    }
}
