@use "../media-queries/top-logo-nav";

.top-fixed-bar {
    position: fixed;
    display: block;
    top: -25px;
    left: 50%;
    transform: translate(-50%);

    height: calc(var(--top-fixed-bar-height) * 0.63);
    width: var(--top-fixed-bar-width);
    background: linear-gradient(
        white 63%,
        transpraent 63%
    );

    z-index: 99;

    display: flex;
    flex-direction: column;
    align-items: center;

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        padding: 0px 18px;
        box-sizing: border-box;

        button {
            border: 0px;
            background-color: transparent;
            padding: 8px 10px;
            font-size: 18px;
            cursor: pointer;
        }

        .test-title {
            font-family: Pretendard;
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: center;
        }

        .main-top-logo {
            display: block;
            width: 90px;
            opacity: 1;
            background-color: rgba(255, 255, 255, 0);
            transition: opacity 0.1s ease-in-out;
            text-align: center;

            &.is-hidden {
                opacity: 0;
            }

            img {
                width: auto;
                height: 1.5em;
            }
        }
    }

    .progress-text {
        &.yellow {
            color: #FFB800;
        }

        &.red {
            color: #EE4D4D;
        }
    }

    .progress-container {
        width: 100%;
        height: 6px;
        background: #DFDFDF;
        &.red {
            .progress {
                background-color: #EE4D4D;
            }
        }
        &.yellow {
            .progress {
                background-color: #FFB800;
            }
        }
        .progress {
            width: 0%;
            height: 6px;
            background-color: #1DA1F2;
        }
    }

    &.gradient {
        /*투명해지기 전 컬러*/
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 1) 63%,
            rgba(255, 255, 255, 0) 100%
        );
        color: rgba(255, 255, 255, 1);
        height: var(--top-fixed-bar-height);

        transition:
            transform 0.3s ease,
            background-color 0.3s ease-in-out,
            color 0.3s ease-in-out,
            opacity 0.3s ease-in-out;

        &.is-hidden {
            color: rgba(255, 255, 255, 0);
        }
    }
}
