@use "../media-queries/top-logo-nav";
@import "../includes/tenada";

.top-fixed-bar {
    position: fixed;
    display: block;
    top: -25px;
    left: 50%;
    transform: translate(-50%);

    height: calc(var(--top-fixed-bar-height) * 0.63);
    width: var(--top-fixed-bar-width);

    z-index: 99;

    display: flex;
    flex-direction: column;
    align-items: center;

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        padding: 0px 18px;
        box-sizing: border-box;

        button {
            border: 0px;

            background-color: transparent;
            width: 34px;
            height: 34px;
            padding: 6px 3px;
            cursor: pointer;

            svg, img.ranking-icon {
                color: white;
                width: 20px;
                height: auto;
            }

            &.go-back svg, &.go-back img {
                width: 12px;
                height: auto;
            }
        }

        .test-title {
            font-family: LeeSeoyun;
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;
            color: white;
        }

        .main-top-logo {
            font-family: Tenada;
            font-size: 24px;
            font-weight: 800;
            line-height: 24px;
            letter-spacing: 0em;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 4px);
            display: block;
            width: 200px;
            height: 40px;
            opacity: 1;
            background-color: rgba(255, 255, 255, 0);
            transition: opacity 0.1s ease-in-out;
            text-align: center;

            text-decoration: none;
            color: white;

            &.is-hidden {
                opacity: 0;
            }

            img {
                width: auto;
                height: 1.5em;
            }
        }
    }

    .progress-text {
        color: white;

        &.yellow {
            color: #FFB800;
        }

        &.red {
            color: #EE4D4D;
        }
    }

    .progress-container {
        width: 100%;
        height: 6px;
        background: #ffffff50;
        background-size: contain;
        &.red {
            background: #EE4D4D50;
        }
        &.yellow {
            background: #FFB80050;
               
        }
        .progress {
            width: 0%;
            height: 6px;
            background-image: url(../assets/chalk-border.png);
        }
    }

    &.gradient {
        /*투명해지기 전 컬러*/
        color: rgba(255, 255, 255, 1);
        height: var(--top-fixed-bar-height);

        transition:
            transform 0.3s ease,
            background-color 0.3s ease-in-out,
            color 0.3s ease-in-out,
            opacity 0.3s ease-in-out;

        &.is-hidden {
            color: rgba(255, 255, 255, 0);
        }
    }
}
