@import "../mixins";
@import "../colors";

.tweet-dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 400;
    background-color: #00000080;

    .tweet-dialog {
        display: flex;
        flex-direction: column;
        gap: 0px;
        
        width: 380px;
        max-width: 80vw;
        .content {
            background-color: white;
            border-radius: 10px 10px 0px 0px;
            padding: 18px 25px;

            display: flex;
            flex-direction: column;
            gap: 10px;
            h1 {
                margin: 0px 0px 5px 0px;
                padding: 0px;

                font-family: 'Pretendard';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: -0.025em;

                color: $black-color-01;
            }

            textarea {
                padding: 12px;
                color: $black-color-01;
                background-color: #0000001a;
                
                font-family: 'Pretendard';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                text-align: justify;
                letter-spacing: -0.025em;

                resize: vertical;

                height: 160px;
                max-height: 30vh;
                box-sizing: border-box;

                border-radius: 15px;
                border: 0px;

                @include hide-scrollbar;
            }

            img {
                width: 100%;
                box-sizing: border-box;
                padding: 0px 18px;
                height: auto;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            width: 100%;

            :first-child {
                border-radius: 0px 0px 0px 10px;
            }

            :last-child {
                border-radius: 0px 0px 10px 0px;
            }

            button {
                padding: 15px 0px;

                border: 0px;
                font-family: 'Pretendard';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                letter-spacing: -0.025em;
                
                color: #FFFFFF;
                
                &.submit {
                    flex: 24;
                    background-color: #1DA1F2;
                }

                &.cancel {
                    flex: 14;
                    background-color: $black-color-05;
                }
            }
        }
    }    
}